:root{
	--primary:rgb(9, 9, 46);
	--secondary:grey;
	--accent:rgb(0, 157, 248);
	--background:white;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	outline: none;
	border: none;
}
body {
	font-family: Robot, Rubik, Ubuntu, sans-serif;
	background-color: var(--background);
}
header {
	height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--primary);
	padding: 15px 20px;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
header ul {
	display: flex;
	gap: 20px;
}
.logo{
font-size: 20px;
font-weight: 800;
}


header a {
	font-size: 15px;
	color: white;
}
.first {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 100px;
	padding: 40px 20px;
	background-color: var(--primary);
}
.first-left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}
.first-left h1 {
	color: white;
	line-height: 40px;
	flex-wrap: wrap;
	max-width: 400px;
}
.photo {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--secondary);
	height: 200px;
	width: 400px;
	border-radius: 10px;
}
.first-left p {
	color: white;
	flex-wrap: wrap;
	max-width: 500px;
	opacity: 70%;
	font-weight: 500;
}
.first-left button {
	color: white;
	font-size: 20px;
	font-weight: 600;
	background-color: var(--accent);
	padding: 10px;
	border-radius: 10px;
}
.second {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	gap: 50px;
	padding: 70px;
}
.second h2 {
	margin-top: 10px;
}
.cards {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
  gap: 20px;
	align-items: center;
	flex: 1;
}
.card{
  display: flex;
  flex-direction: column;
	gap:15px;
  align-items: center;
}
.card-photo {
	height: 100px;
	width: 100px;
	background-color: var(--secondary);
	border: 5px solid var(--accent);
	border-radius: 10px;
}
.text {
  max-width: 180px;
  flex-wrap: wrap;
}
.third{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  gap: 10px;
  padding: 90px;
}
.field{
  display: flex;
  flex-direction: column;

}
.qoute{
  flex-wrap: wrap;
  align-self: flex-start;
  line-height: 3rem;
  font-weight: 200;
  font-style: italic;
  max-width: 700px;
  font-size: 30px;
}
.sayed{
  align-self: flex-end;
  font-size: 20px;
  font-weight: 900;
}
.forth{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.f-container{
	width: 1000px;
	padding: 40px 50px;
  display: flex;
	align-items:center ;
	justify-content: space-around;
  gap :40px;
  border-radius: 14px;
  background-color: var(--accent);
}
.f-left{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.f-left p{
  flex-wrap: wrap;
  max-width: 600px;
}
.donate{
  padding: 10px;
	border-radius: 10px;
	font-weight: 600;
	color: var(--background);
	background-color: var(--accent);
	border: 2px solid var(--background);
  
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--primary);
  color: white;
}