* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	outline: none;
	border: none;
}
body {
	font-family: Robot, Rubik, Ubuntu, sans-serif;
}
header {
	height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(104, 204, 81);
	padding: 30px 150px;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
header ul {
	display: flex;
	gap: 20px;
}
header a {
	font-size: 15px;
	color: white;
}
.first {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 100px;
	padding: 40px 0px;
	background-color: rgb(104, 204, 81);
}
.first-left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}
.first-left h1 {
	flex-wrap: wrap;
	max-width: 400px;
}
.first img {
	height: 300px;
	width: auto;
	border-radius: 10px;
}
.first-left p {
	flex-wrap: wrap;
	max-width: 500px;
	opacity: 70%;
	font-weight: 500;
}
.first-left button {
	font-size: 20px;
	font-weight: 600;
	background-color: aquamarine;
	padding: 10px;
	border-radius: 10px;
}
.second {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	gap: 50px;
	background-color: red;
	padding: 70px;
}
.second h2 {
	margin-top: 10px;
}
.cards {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
  gap: 20px;
	align-items: center;
	flex: 1;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card img {
	height: 180px;
	border: 10px solid blue;
	border-radius: 10px;
	width: auto;
}
.text {
  max-width: 180px;
  flex-wrap: wrap;
}
.third{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(198, 198, 198, 0.592);
  gap: 10px;
  padding: 90px;
}
.field{
  display: flex;
  flex-direction: column;

}
.qoute{
  flex-wrap: wrap;
  align-self: flex-start;
  line-height: 3rem;
  font-weight: 200;
  font-style: italic;
  max-width: 700px;
  font-size: 30px;
}
.sayed{
  align-self: flex-end;
  font-size: 20px;
  font-weight: 900;
}
.forth{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 32, 32);
  padding: 100px;
}
.f-container{
  display: flex;
  gap :40px;
  padding: 30px;
  border-radius: 14px;
  background-color: aquamarine;
}
.f-left{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.f-left p{
  flex-wrap: wrap;
  max-width: 600px;
}
.donate{
  padding: 20px 40px;
  border-radius: 10px;
  background-color: greenyellow;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(117, 117, 74, 0.266);
  color: black;
}